<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:type" content="website" />
    <meta property="og:title" content="Maiúscula Minúscula" />
    <meta property="og:description" content="Transforme seu texto de maiúscula para minúscula ou de minúscula para maiúscula e muito mais, conforme for necessário"/>
    <meta property="og:image" content="./sitecardmaiusculaminuscula.png" />
    <meta property="og:image:width" content="1800" />
    <meta property="og:image:height" content="900" />
    <meta property="og:locale" content="pt_BR" />
    <meta property="og:url" content="https://maiusculaminuscula.com.br" />
    <meta property="og:site_name" content="MaiusculaMinuscula" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@" />
    <meta name="facebook-domain-verification" content="summary_large_image" />

    <meta name="propeller" content="f5fcb76f075f28f65304877a24f4dfba">








    <script src="./script.js" defer></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3569704698043280"
     crossorigin="anonymous"></script>
    
     <!--Script Propeller ads aqui embaixo:-->
	<!--
    	<script>(function(d,z,s){s.src='https://'+d+'/401/'+z;try{(document.body||document.documentElement).appendChild(s)}catch(e){}})('oaphoace.net',5392843,document.createElement('script'))</script>
    	-->

    
    <title>Maiuscula Minuscula</title>
    <link rel="icon" href="letram.png">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="styles.css">

</head>
<body>



    <div class="container text-center" >
        <div class="row">

        <img src="./sitecardmaiusculaminuscula.png" />
    </div>
        <br><br>
        <div class=" form-control fs-5" >
            <p>O site <i>maiusculaminuscula.com.br</i> permite você transformar seu texto de maiúsculas para minúsculas ou vice versa.
            Transforme as letras com os botões destacados. Confira as opções de transformação de texto nos botões abaixo.
            </p>
        </div>
        <br><br>

    <!-- Modo frase, minúscula, Maiúsculas, Capitalized Case, LeTrAs aLtErNaDaS, 
        Title Case, Download Text, Copiar para área de transferência, Limpar-->
        <div id="sfcteeczaryb1gsymalx55gl6jp1mdbn4bf"></div><script type="text/javascript" src="https://counter9.stat.ovh/private/counter.js?c=teeczaryb1gsymalx55gl6jp1mdbn4bf&down=async" async></script><br><a href="#"></a><noscript><a href="https://www.webcontadores.com" title="contador de visitas para blogger"><img src="https://counter9.stat.ovh/private/webcontadores.php?c=teeczaryb1gsymalx55gl6jp1mdbn4bf" border="0" title="contador de visitas para blogger" alt="contador de visitas para blogger"></a></noscript>
    
        <div class="row">

            <div class="col">
                <textarea id="campo" placeholder="digite ou cole seu texto aqui" rows="20" class="form-control" ></textarea>
            </div>
            <div class="col form-control ">
                <br>
                <button onclick="tornarMaiuscula()" type="button" class="form-control btn btn-outline-primary" >Transformar todas em Maiúsculas</button> <br><br>
                <button onclick="tornarMinuscula()" type="button" class="form-control btn btn-outline-secondary" >Transformar todas em Minúsculas</button> <br><br>
                <button onclick="modoTitulo()" type="button"  class="form-control btn btn-outline-success" >Transformar em modo Título</button> <br><br>
                <button onclick="modoFrase()" type="button" class="form-control btn btn-outline-danger" >Transformar em modo Frase</button> <br><br>
                <button onclick="alternateCase()" type="button" class="form-control btn btn-outline-warning" >Alternate Case</button> <br><br>
                <button onclick="download()" type="button" class="form-control btn btn-outline-info" >Download como .txt</button> <br><br>
                <button onclick="copiarParaAreaDeTransferencia()" type="button" class="form-control btn btn-outline-dark" >Copiar para Área de Transferência</button>
            </div>
        </div>
        <br><br><br>
        
        <h3>Ajude a manter o site</h3>
            <font color="blue">
                <p><i><b>pix</b></i> 
            </font>celular 55984325334</i></p>
        
        <br><br><br>
        <div class=" form-control fs-5" >

                <h4>A Letra</h4>
                <div class=" form-control fs-5" >

                    <p class="lh-lg" >O site <i>maiusculaminuscula.com.br</i> permite você transformar seu texto como você bem entender. Transforme maiúsculas em minúsculas,
                        ou transforme minúsculas em maiúsculas e mais. Confira as opções de transformação de texto nos botões.
                    </p>

                    <p class="lh-lg">Uma letra é um grafema num sistema alfabético de escrita, como o Alfabeto grego e seus descendentes. Letras compõem fonemas e cada fonema representa um fone (som) na Língua falada.

                        Sinais escritos em outros sistemas de escrita são melhor chamados silabogramas (que denotam uma sílaba) ou logogramas (que denotam uma palavra ou frase).
                    </p>
                </div>

                    <h4>Descrição e Uso</h4>
                    <div class=" form-control fs-5" >
                        <p class="lh-lg">Como símbolos que denotam partes da fala, as letras estão associadas com a fonética. Num alfabeto puramente fonêmico, um único fonema é representado por uma única letra, mas na história e na prática, as letras muitas vezes denotam mais de um fonema. Um par de letras que designam um único fonema é chamado de dígrafo. Exemplos de dígrafos em português incluem "ch", "nh" e "ss". Um fonema pode ser representado também por três letras, chamado de trígrafo. Um exemplo é a combinação "sch" em alemão.

                            Uma letra também pode ser associada a mais de um fonema, com o fonema dependendo das letras em sua volta ou da etimologia da palavra. Como exemplo dos efeitos posicionais, a letra c em português é pronunciada [k] antes de a, o ou u (por exemplo, cantar, cortar, cuidado, Colorado), mas é pronunciado [s] antes de e ou i (por exemplo, cessar, cidade).
                            
                            Letras também têm nomes específicos a eles associados. Esses nomes podem diferir conforme a língua, dialeto e história. Z, por exemplo, é geralmente chamado de zed em todos países de fala inglesa, exceto nos Estados Unidos, onde é chamado zee.
                        </p>
                
                    </div>

                    <h4>A História da Letra</h4>
                    <div class=" form-control fs-5" >
                        <p class="lh-lg">A invenção das letras foi precedida pela escrita semítica ocidental, que apareceu em Canaã por volta de 1000 a.C.. 
                            Há antecedentes que geram alguma suspeita na escrita proto-cananita, datada de cerca de 1800 a.C. Praticamente todos os alfabetos 
                            têm suas origens fundamentais neste sistema. O alfabeto grego, inventado por volta de 800 a.C., como o primeiro alfabeto de verdade, 
                            atribuindo letras não só para as consoantes, mas também para as vogais
                        </p>
                
                    </div>

                    <h4>Referências Bibliográficas</h4>
                    <div class=" form-control fs-5" >
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item list-group-item-primary">Millard, A. R. (1986), «The Infancy of the Alphabet», World Archaeology, 17 (3): 390–398</li>
                            <li class="list-group-item list-group-item-secondary">Daniels, Peter T., and William Bright, eds 1996. The World's Writing Systems. ISBN 0-19-507993-0.</li>
                            <li class="list-group-item list-group-item-success">Powell, Barry B. 1991. Homer and the Origin of the Greek Alphabet. ISBN 9780521589079 | ISBN 052158907X.</li>
                            <li class="list-group-item list-group-item-warning">Robinson A. 2003, "The Origins of writing" in David Crowely and Paul Heyer 'Communication in History: Technology, Culture, Society' (fourth edition) Allyn and Bacon Boston pp 34-40</li>
                        </ul>
                    </div>

                </div>




    </div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>


</body>
</html>
